{% if lang.__('lang') == 'ar' %}
<li class="py-1"><a href="/{{lang.__('lang') == 'ar' ? 'استشارات-اونلاين' : 'online-consultation'}}">{{lang.__('ONLINE_CONSULTATION')}}</a></li>
<li class="py-1"><a href="/{{lang.__('lang') == 'ar' ? 'expatriates' : 'foreign-patients'}}">{{lang.__('INTERNATIONAL_PATIENTS')}}</a></li>
<li class="py-1"><a href="/{{lang.__('lang') == 'ar' ? 'bedaya-offers' : 'offers'}}">{{lang.__('Offers')}}</a></li> 
<li class="py-1"><a href="/رحلة-علاجك-في-مستشفى-بداية">{{lang.__('Medical Journey')}}</a></li>
<li class="py-1"><a href="/doctors">{{lang.__('our Doctors')}}</a></li>
<li class="py-1"><a href="/{{lang.__('lang') == 'ar' ? 'من-نحن' : 'about-us'}}">{{lang.__('About Us')}} </a></li>
{% else %}
<li class="py-1"><a href="/about-us">{{lang.__('About Us')}} </a></li>
<li class="py-1"><a href="/foreign-patients">{{lang.__('INTERNATIONAL_PATIENTS')}}</a></li>
<li class="py-1"><a href="/offers">{{lang.__('Offers')}}</a></li> 
<li class="py-1"><a href="/Your-medical-journey-begins-in-the-hospital">{{lang.__('Medical Journey')}}</a></li>
<li class="py-1"><a href="/online-consultation">{{lang.__('ONLINE_CONSULTATION')}}</a></li>
<li class="py-1"><a href="/doctors">{{lang.__('our Doctors')}}</a></li>
{% endif %}