
            {% for item in offers %}

    {% set contents = item.content.content|split('<h3>محتويات الباكدج</h3>') %}

            <div class="list-icon mb-20 relative bg-white lg:flex w-full">
                <div class="w-full  p-7 pt-10 lg:flex">
                    <div class="w-full py-2">
                        
                    <h2 class="mb-2 text-2xl font-semibold purple-color pb-4">{{item.content.title}}</h2>
                    
                        {{contents[0]|raw}}
                        <a href="/offer_booking/{{item.id}}" class="inline-block hover:bg-gray-800 purple-bg py-3 px-4 rounded-lg text-white">{{lang.__('more_details')}}</a>
                    </section>
                   </div>
                </div>
                <div class=" text-white w-full cyan-bg rounded-xl p-6 ">
                    
                    <p class="text-lg font-semibold  pb-4">{{lang.__('offer_content')}}</p>
                    <span class="mb-2 w-20 border border-b-1  border-gray-200 block"></span>
                    <section class="w-full pt-10">
                       
{{contents[1]|raw}}
						

                </div>
            </div>

            {% endfor %}